<!DOCTYPE html>
<html lang="en">
<head>
    <title>已完成考试列表</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <!-- 导入easyui的资源文件 -->
    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
    <link id="themeLink" rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
    <script>
        $(function () {
            $("#list").datagrid({
                //双击事件
                onDblClickRow: function (index, row) {
                    // alert("考试id"+row.testID)
                    var row = $('#list').datagrid('getSelected');
                    testAddSubPage(row.testID+"号考试详细内容","toStudentShowTestResultContent");
                }
            });
        })
    </script>

    <script>//在符集tabs上创建uige标签页
    function testAddSubPage(title,url){
        var jq = top.jQuery;
        if (jq("#tt").tabs('exists', title)){
            jq("#tt").tabs('select', title);
        } else {
            var row = $('#list').datagrid('getSelected');
            var url1=url+'?testID='+row.testID; //url拼接;
            var content = '<iframe scrolling="auto" frameborder="0"  src="'+url1+'" style="width:100%;height:100%;"></iframe>';
            jq("#tt").tabs('add',{
                title:title,
                content:content,
                closable:true
            });
        }}
    </script>
</head>
<body>

<table id="list" class="easyui-datagrid" url="studentGetTestResult" title="已完成考试列表"  fit="true" border="false"
       fitColumns="true" pagination="true"  singleSelect="true"  rownumbers="true"  toolbar="#tb">
    <thead>
    <tr>
        <th data-options="field:'testID',width:50"  >考试id</th>
        <th data-options="field:'testPaperID',width:200" >考卷编号</th>
        <th data-options="field:'testQuestionSetterID',width:200" >出题人账号</th>
        <!--<th data-options="field:'isConsult',width:200" >是否批阅</th>-->
        <th data-options="field:'testTotalScore',width:200" >考试得分</th>
        <th data-options="field:'testTime',width:200">考试完成时间</th>
    </tr>
    </thead>
</table>
</body>
</html>
